@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.App{
    min-height: 100vh;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: center;
}
